<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PDFCreator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F3D047E1D71513800DF7FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3D04921D71513800DF7FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F3D049D1D71513800DF7FD4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
